body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,140,255,0.4514180672268907) 0%, rgba(0,255,252,1) 100%);
}

.pie-pagina{
    width: 100%;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h1{
    color: blue;
    margin-bottom: 20px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #8c8cff;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: blue;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #8c8cff;
}

.contenedor{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor .mapa{
    display: flex;
    justify-content: center;
}

.contenedor .c-form .form2{
    display: block;
}


