*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section.principal-view{
    width: 100%;
    height: auto;
    background-color: #F4FFE2;
    display: flex;
    justify-content: flex-end;
}
.container{
    width: 95%;
    height: 100%;
}
.container .navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}
.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}
.navbar .logo img{ 
    height: 60px;
}
.logo span{
    font-size: 19px;
    color: #293462;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}
.navbar .links{
    margin-right: 100px;
    height: 60px;
    display: flex;
    align-items: center;
}
.links a:not(:last-of-type){
    margin-right: 40px;
    text-decoration: none;
    color: #293462;
    font-size: 20px;
    position: relative;
    transition: 0.5s;
    
}
.links a:not(:last-of-type).active::before{
    content: '';
    width: 22px;
    height: 8px;
    background-color: #204BFD;
    position: absolute;
    border-radius: 20px;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    
}
.links a:not(:last-of-type).active{
    color: #204BFD;
    transition: 0.5s;
}
.links a:last-of-type{
    border: 2px solid #204BFD;
    border-radius: 47px;
    padding: 16px 45px;
    text-decoration: none;
    color: #204BFD;
}
.links a:last-of-type:hover{
    background-color: #204BFD;
    border: 2px solid #000;
    color: #fff;
}

.principal-content{
    display: flex;
}

/*---- main container ----*/
.container .main{
    display: flex;
    width: 50%;
}
.main .content{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content span{
    color: #D61C4E;
    font-size: 32px;
}
.content .heading{
    color: #293462;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15;
}
.content .paragraph{
    font-size: 22px;
    margin-top: 10px;
    color: #0D00AB;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 40px;
}
.content button{
    width: 250px;
    height: 80px;
    font-size: 24px;
    background-color: #DAB60C;
    border: none;
    outline: none;
    border-radius: 65px;
    box-shadow: 0 8px 87px rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
}
.content button:hover{
    color: #F5D029;
    background-color: #fff;
    
}
.main .image{
     padding-left: 20px;
     padding-top: 20px;
}
.main img{
    width: 80%;
    height: auto;

}

/*---- container social ----*/
.container .social{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    margin-right: 40px;
    color:#426782;
}
a i {
    font-size: 35px;
}
a i.fa-facebook:hover{
    color: #0D00AB;
}
a i.fa-instagram:hover{
    color: #E1306C;
}
a i.fa-twitter:hover{
    color: #1DA1F2;
}
a i.fa-youtube:hover{
    color: #F00;
}

.slide-container{
    width: 50%;
}


/*--------------  slides ----------------*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 1px solid #000;
    width: 80%;
    margin-top: 20px;

  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .mySlides img{
    width: 100%;
  }