<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/inicio.css">
</head>

<body>
    <section class="principal-view">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="img/none-green.png" alt="logo" />
                    <span>Licencias</span>
                </div>
                <div class="links">
                    <a href="#" class="nav-btn active-option">Inicio</a>
                    <a href="#" class="nav-btn">Contacto</a>
                    <a href="#" class="nav-btn">Formulario</a>
                </div>
            </div>
        </div>
    </section>
    <div class="contenedor">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2705.1396272811107!2d-68.13352260050084!3d-16.49349617947529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20727d55cb29%3A0x417d39be72c3db0b!2sServicio%20General%20de%20Identificaci%C3%B3n%20Personal!5e0!3m2!1ses!2sbo!4v1663254442209!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="c-form">
            <h1>Contactanos</h1>
            <form class="form2">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
                <br>
                <label for="email">Correo</label>
                <input type="email" name="email" id="email">
                <br>
                <label for="fono">Celular/Telefono</label>
                <input type="number" name="fono" id="fono">
                <br>
                <textarea name="comentario" id="" cols="30" rows="10"></textarea>
                <button type="button" onclick="contacForm()">Enviar</button>
            </form>
        </div>
    </div>
    

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="...">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h1>SEGIP</h1>
                <p>Servicio General de Identificación Personal y de Licencias para Conducir</p>
            </div>
            <div class="box">
                <h1>SIGUENOS</h1>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function contacForm(){
            console.log("Llega aqui");
            var nombre = document.getElementById('nombre').value;
            var email = document.getElementById('email').value;
            var fono = document.getElementById('fono').value;
            alert("Gracias por contactarnos "+nombre+" se enviara la informacion a tu correo: " +email+" o a tu celular: "+fono);
        }
    </script>
</body>
</html>